.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 1rem auto;
  padding: 2rem;
}
.info {
  text-align: center;
}
.info h4 {
  text-align: justify;
}
@media (max-width:767px) {
    .main{
        width: 90%;
    }
}