.main{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 2rem auto;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}
.info h4{
    text-align: justify;
}